.separator{
    background-image: url(../../assets/images/panel-vertical.png);
    width: 16px;
    height: 100vh;
    z-index: 99;
}

hr{
    content: url(../../assets/images/panel-horizontal.png);
    height: 16px;
    margin-top: 15px;
    border: none;
}

